<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Running tests on https://demo.midtrans.com/">
    <test name="Running regression test" thread-count="1" parallel="false">
        <groups>
            <run>
                <include name = "regression"></include>
            </run>
        </groups>
        <classes>
            <class name="testRunner.HomeE2ETest"/>
            <class name="testRunner.PaymentE2ETest"/>
        </classes>
    </test>
</suite>